
<section class="row-fluid">
  <h3 class="box-header">客戶列表</h3>
  <div class="box">
    <div class="box-action btn-group">
      <%= link_to "新增" , new_customer_path , :class => "btn btn-blue" %>
    </div>
    <table class="table table-bordered table-striped table-condensed table-hover">
      <thead>
        <tr>
          <th class="col2">ID</th>
          <th class="col6">國家</th>
          <th class="col10">名稱</th>
          <th class="col6">聯絡人</th>
          <th class="col10">地址</th>
          <th class="col6">電話</th>
          <th class="col6">傳真</th>
          <th class="col6">E-mail</th>
          <th class="col6">備註</th>
          <th class="col6">管理</th>
        </tr>
      </thead>
      <tbody>
        <% @customers.each do |customer| %>                     
          <tr>
            <td class="center"><%= customer.id %></td>
            <td class="center"><%= customer.country_name %></td>
            <td class="center"><%= customer.name %></td>
            <td class="center"><%= customer.contact %></td>
            <td class="center"><%= customer.addr %></td>
            <td class="center"><%= customer.phone %></td>
            <td class="center"><%= customer.fax %></td>
            <td class="center"><%= customer.email %></td>
            <td class="center"><%= customer.note %></td>            
            <td class="center">
              <%= link_to "編輯" , edit_customer_path(customer) , :class => "btn btn-cyan" %>
              <%= link_to "刪除" , customer_path(customer) , :method => "delete" , :class => "btn btn-danger" , :"data-confirm" => "確定進行刪除的動作？" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>
