<section class="row-fluid">
  <h3 class="box-header">製程欄位列表</h3>
  <div class="box">
    <div class="box-action btn-group">
      <%= link_to "新增" , new_spec_path , :class => "btn btn-blue" %>
    </div>
    <table class="table table-bordered table-striped table-condensed table-hover">
      <thead>
        <tr>
          <th class="col4">ID</th>
          <th class="col4">分類</th>
          <th class="col10">名稱</th>
          <th class="col4">是否為零組件</th>
          <th class="col4">零組件分類</th>
          <th class="col6">管理</th>
        </tr>
      </thead>
      <tbody>
        <% @specs.each do |spec| %>                     
          <tr>
            <td class="center"><%= spec.id %></td>
            <td class="center"><%= spec.cate_name %></td>
            <td class="center"><%= spec.name %></td>
            <td class="center"><%= spec.is_part ? "是" : "否" %></td>
            <td class="center"><%= spec.part_cate_name %></td>
            <td class="center">
              <%= link_to "編輯" , edit_spec_path(spec) , :class => "btn btn-cyan" %>
              <%= link_to "刪除" , spec_path(spec) , :method => "delete" , :class => "btn btn-danger" , :"data-confirm" => "確定進行刪除的動作？" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>